<!-- <h2 class="p-4 text-white bg-success">
  Angular Components
</h2> -->
<h1 class="p-2 text-white text-uppercase mb-4 fairsHeading">fairs</h1>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12">
      <app-fair-dashboard></app-fair-dashboard>
      <!-- <app-std></app-std> -->
      <!-- <app-todos></app-todos> -->
      <!-- <app-tab-switch></app-tab-switch> -->
      <!-- <app-tab-for></app-tab-for> -->
      <!-- <app-tab></app-tab> -->
      <!-- <app-mobile></app-mobile> -->
      <!-- <app-posts></app-posts>
      <hr>
      <app-products></app-products> -->
      <!-- <div app-products></div> -->
      <!-- <div class="app-products"></div> -->
      <!-- <ul class="list-group">
          <li class="list-group-item" 
          *ngFor="let skill of skills">
            I love {{skill}}
          </li>
        </ul>

        <hr>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let std of stdArr; let i = index">
                <td>{{i + 1}}</td>
                <td>{{std.fname}}</td>
                <td>{{std.lname}}</td>
                <td>{{std.email}}</td>
                <td>{{std.contact}}</td>
              </tr>
            </tbody>
        </table> -->
    </div>
  </div>
</div>


<!-- Directive >> Which gives instruction to the DOM 
 1 Component >> It has its own HTML
 2 Attribute
 1 Structural >> always start with * >> It defines structure of DOM
-->